@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Manjari Regular';
    src: url('/fonts/Manjari-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NATS Regular';
    src: url('/fonts/NATS-Regular.woff'), format('woff');
}

.no-scroll::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    box-shadow: 4px 3px 5px rgba(87, 87, 103, 0.3)}

.no-scroll::-webkit-scrollbar-thumb {
    background: white;
    border-color: black;
    border-radius: 20px;
}

.no-scroll::-webkit-scrollbar-track-piece {
    background-color: #5b669d;
}


.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #171E3F;
    color: #CDCCE4;
    box-shadow: -24px 0, 24px 0;
    box-sizing: border-box;
    animation: rotation 1.4s ease-in-out infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.animated-gradient {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(45deg,#bec5ed ,#CAD0EE, #e5e7f3);
    background-size: 200% 200%;
    animation: gradientMove 1.9s linear infinite;
    box-shadow: 0px 4px 15px rgba(127, 131, 170, 0.12); 
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



@tailwind base;
@tailwind components;
@tailwind utilities;
