@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Manjari Regular';
    src: url('/fonts/Manjari-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NATS Regular';
    src: url('/fonts/NATS-Regular.woff'), format('woff');
}

.no-scroll::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

.no-scroll::-webkit-scrollbar-thumb {
    background: white;
    border-color: black;
    border-radius: 20px;
}

.no-scroll::-webkit-scrollbar-track-piece {
    background-color: #5b669d;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
